/*Default settings for html element*/

html {
    display: block;
}

html:focus {
    outline: none;
}


/*Default settings for body element*/

body {
    display: block;
    margin: auto;
    font-family: 'Goldman', cursive;
    background-color: #000000;
    color: #f7f4f4;
}

body:focus {
    outline: none;
}

footer {
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px #84c754;
    /*text-shadow: horizontal vertical blur color*/
}

table,
tr,
td,
th {
    border: 4px groove #84c754;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px #84c754;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

caption {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    background-color: black;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 5px #84c754;
}