/*Default settings for html element*/
html {
    display: block;
}

html:focus {
    outline: none;
}

/*Default settings for body element*/
body {
    display: block;
    margin: auto;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Goldman', cursive;
    background-color: #000000;
    color: #f7f4f4;
}

body:focus {
    outline: none;
}

footer {
    margin-top: 20px;
    text-align: center;
    /*text-shadow: horizontal vertical blur color*/
    text-shadow: 2px 2px 5px #84c754;
}

table, tr, td, th {
    border: 4px groove #84c754;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px #84c754;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

caption {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
td:nth-child(odd) {
    background-color: rgb(78, 117, 175);
}

td:nth-child(even) {
    background-color: rgb(62, 81, 109);
}

th {
    background-color: rgb(43, 37, 37);
}
*/